<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <style type="text/css">


        /*Style footer*/

    

    </style>
  </head>
  <body>
    <%- include('header') -%>
    <!--header-->




    <!--Contenido Acerca de-->
    <div class="container-fluid cont-acercade">

        <div class="row none">
            <div class="col-12 col-md-6 col-sm-12 nombre">
                <p>
                    <h4>JOSE DE JESUS JIMENEZ ARGUELLES</h4>
                    <hr class="linea">
                </p>
            </div>
            <div class="col-12 col-md-6 col-sm-12 descripcion">
                <p>
                    Estudio Ingenieria en Software ya que desde que tuve mi primer acercamiento con la tecnologia me guistó mucho y me interesó conocer un poco de su funcionamiento y en lo que llevo de carrera está logrando cumplir mis espectativas.<br>
                    Tengo muchos sueños pero en principal quiero desarrollarme como persona y profesional a tal grado de poder formar una familia y darles una buena vida con mi esfuerzo y trabajo.
                </p>
            </div>
        </div>

        <div class="row par">
            <div class="col-12 col-md-6 col-sm-12 descripcion">
                <p>
                    Me gusta bastante el ver anime, no es sólo por ver y eso
                    es más por el hecho de distraerme que por otra cosa.
                    Principalmente mi pasatiempo de jugar videojuegos,
                    ultimamente he tenido ganas de empezar un curso
                    de Unity, pero por algunas situaciones no he podido
                    empezar. <br>
                    Mi objetivo momentaneo es el poder
                    llegar a crear las herramientas que yo necesite, en el
                    momento que yo las necesite.  
                </p>
            </div>
            <div class="col-12 col-md-6 col-sm-12 nombre">
                <p>
                    <h4>OSCAR LEONARDO CORVERA</h4>
                    <hr class="linea">
                </p>

            </div>
        </div>

        <div class="row none">
            <div class="col-12 col-md-6 col-sm-12 nombre">
                <p>
                    <h4>GERARDO JIMENEZ ARGUELLES</h4>
                    <hr class="linea">
                </p>
            </div>
            <div class="col-12 col-md-6 col-sm-12 descripcion">
                <p>
                   Aficionado al cine, series y animacion. Fotografo en tiempos libres. Estudiante 
                   de Ingenieria de Software. Gusto por la lectura y la reflexion. <br>
                   Mi sueño es lograr dejar algo al mundo, en especial si ayuda a personas de mucha necesidad,
                    si llegara a cumplirse podria dejar un pequeño aporte y mejora.
                </p>
            </div>
        </div>
    </div>


<!--footer-->
 <%- include('footer') -%>


    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/umd/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>

</html>