<!--Fotter-->
    <div class="container-fluid footer" id="asd">
        <!--Div imagen-->
        <div class="row logo">
            <div class="col-12">
                <img src="images/logo.png">
            </div>
        </div>

        <!--Div elementos-->
        <div class="row" style="justify-content: center;">
            <div class="col-12 col-sm-12 col-md-2 divfooter" style="display: inline-block;">
                
                <h3 class="headfooter">TIENDA</h3>
                <hr class="linea">
                
                <p class="parrafo-footer">
                    <a class="nav-link link" href="/acerca_de">Acerca de</a>
                </p>
                <p class="parrafo-footer">
                    <a class="nav-link link" href="#">Vende tus videojuegos</a>
                </p>
                <p class="parrafo-footer">
                    <a class="nav-link link" href="#">Centro de Reparacion</a>
                </p>
                <p class="parrafo-footer">
                    <a class="nav-link link" href="#">Ofertas y Cupones</a>
                </p>
                <p class="parrafo-footer">
                    <a class="nav-link link" href="#">Blog</a>
                </p>
            </div>

            <div class="col-12 col-sm-12 col-md-2 divfooter">
                
                <h3 class="headfooter">COMPAÑIA</h3>
                <hr class="linea">
                
                <p class="parrafo-footer">
                    <a class="nav-link link" href="#">Envios y Devoluciones</a>
                </p>
                <p class="parrafo-footer">
                    <a class="nav-link link" href="#">Contactanos</a>
                </p>
                <p class="parrafo-footer">
                    <a class="nav-link link" href="#">Compra Segura</a>
                </p>
                <p class="parrafo-footer">
                    <a class="nav-link link" href="#">Privacidad</a>
                </p>
            </div>

            <div class="col-12 col-sm-12 col-md-2 divfooter">
                
                <h3 class="headfooter">CUENTA</h3>
                <hr class="linea">
                

                <p class="parrafo-footer">
                    <a class="nav-link link" href="#">Rastrear Mi Pedido</a>
                </p>
                <p class="parrafo-footer">
                    <a class="nav-link link" href="#">Mi Cuenta</a>
                </p>
                <p class="parrafo-footer">
                    <a class="nav-link link" href="#">Carrito de Compras</a>
                </p>
                <p class="parrafo-footer">
                    <a class="nav-link link" href="#">FAQs</a>
                </p>
            </div>

            <div class="col-12 col-sm-12 col-md-2 divfooter">
                
                <h3 class="headfooter">SOCIAL</h3>
                <hr class="linea">
                
                <p class="social">
                    <a class="nav-link" href="#"><img src="images/facebook.png"></a>
                    <a class="nav-link" href="#"><img src="images/twitter.png"></a>
                </p>
                <p class="social">
                    <a class="nav-link" href="#"><img src="images/pinterest.png"></a>
                    <a class="nav-link" href="#"><img src="images/youtube.png"></a>
                </p>
                <p class="social">
                    <a class="nav-link" href="#"><img src="images/google.png"></a>
                </p>
            </div>
        </div>
    </div>