<div class="container-fluid casd">
    	<div class="row">
    		<div class="col-12">
    			<nav class="navabr navbar-expand-lg nav-envios-garantia">
    				<div class="elementoJunto">
    					<div class="navbar-nav">
  							<span class="textoPromocion navbar-brand mr-1"><img src="images/shippingicon.gif"> 
    						ENVIOS GRATIS</span>
        				</div>
        				<div class="collapse navbar-collapse">
    						<div class="navbar-nav mx-auto">
      							<span class="textoPromocion navbar-brand">con ordenes mayores de $600</span>
   							</div>
  						</div>
    				</div>
    				<div class="elementoJuntoFin">
    					<div class="navbar-nav">
  							<span class="textoPromocion navbar-brand mr-1">
    						*120 DÍAS DE GARANTÍA</span>
        				</div>
        				<div class="collapse navbar-collapse">
    						<div class="navbar-nav mx-auto">
      							<span class="textoPromocion navbar-brand">que nadie puede superar!</span>
   							</div>
  						</div>
    				</div>
    			</nav>
    		</div>
    	</div>
    </div>


    <div class="container-fluid casd">
    	<div class="row">
    		<div class="col-12">
    			<nav class="navbar navbar-expand-lg navbar-acercaDe">
    				<div class="collapse navbar-collapse">
    					<div class="navbar-nav mx-auto">
      						<a class="nav-item nav-link hoverNav" href="#">Contactanos</a>
      						<a class="nav-item nav-link hoverNav" href="acerca_de">Acerca de</a>
   						</div>
  					</div>
  					<div class="navbar-nav acercaDe-Logo">
  						<img class="nav-item" src="images/logo.png" id="logo" width="80%">
        			</div>
  					<div class="collapse navbar-collapse">
    					<div class="navbar-nav mx-auto">
      						<a class="nav-item nav-link hoverNav" href="#">Vende tus videojuegos</a>
      						<a class="nav-item nav-link hoverNav" href="#">Cuenta</a>
      						<a class="nav-item nav-link hoverNav" href="#">Login</a>
      						<a class="nav-item nav-link hoverNav" href="#">Carrito</a>
   						</div>
  					</div>
				</nav>
    		</div>
    	</div>
    </div>


    <div class="container-fluid casd">
    	<div class="row">
    		<div class="col-12">
    			<nav class="navbar navbar-expand-lg navbar-navegacionConsolas">
    				<button class="navbar-toggler botonConsolas" type="button" data-toggle="collapse" data-target="#consolas-nav" aria-controls="consolas-nav" aria-expanded="false" aria-label="Toggle navigation">
              <img src="images/BotonNav.png">
  					</button>
    				<div class="collapse navbar-collapse justify-content-center col-8" id="consolas-nav">
    					<div class="navbar-nav mx-auto">
      						<a id="a-nintendo" class="nav-item nav-linkn hoverNav elemento-consola" href="#">Nintendo </a>
      						<a class="nav-item nav-link hoverNav elemento-consola" href="#">Sega </a>
      						<a class="nav-item nav-link hoverNav elemento-consola" href="#">Play Station </a>
      						<a class="nav-item nav-link hoverNav elemento-consola" href="#">Xbox </a>
      						<a class="nav-item nav-link hoverNav elemento-consola" href="#">Ofertas Retro </a>
   						</div>
  					</div>
  					<div class="navbar col-lg-2 col-md-10 col-sm-9 col-8">
    					<input id="barra-busqueda" class="form-control" type="search" placeholder="Buscar en tienda" aria-label="Search">
        			</div>
        			<div class="navbar-nav">
        				<img class="nav-item" src="images/search.jpg" id="search">
        			</div>
				</nav>
    		</div>
    	</div>
    </div>