<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
    	div envios
    </div>
    <div>
    	div icono home
    </div>
    <div>
    	div menu
    </div>
    <div>
    	div anuncio
    </div>
    <div>
    	div ofertas
    </div>
    <div>
    	div obten ofertas
    </div>
    <div>
    	div contacto
    </div>
  </body>
</html>