<div class="container" id="anuncio">
    	<div class="row">
    		<div class="col-12 col-md-6" id="imagenAnuncio">
    			<img src="images/nintendo-banner.jpg" class="img-fluid" alt="Responsive image">
    		</div>
    		<div class="col-12 col-md-6" id="avisoAnuncio">
    			<div>
                    <h2 id="tituloAviso">TIENDA DE JUEGOS RETRO</h2>
                </div>
                <div id="textoAviso">
                    Compra videojuegos usados, consolas originales y accesorios de la vieja
                    escuela en la tienda en linea de videojuegos retro más grande en su
                    clase. Compra todos nuestros productos vintage 100% auténticos, con
                    una garantía gratuita de 120 dias y envío nacional gratuito.
                </div>
    		</div>
    	</div>
    </div>
    <div class="text-center" id="ofertasRetro">
        <h2 id="titulo">Ofertas Retro</h2>
        <div class="jumbotron" id="jumboOfertas">
    	   <div class="container-fluid h-100">
    	       <div class="row justify-content-center">
                    <div class="col-12 col-sm-6 col-md-2">
                        <div class="card border border-dark my-3 mx-auto" style="width:14rem; height: 16rem;">
                            <div class="container">
                                <div class="card-body">
                                    <img src="images/NES_Mario_2Player.jpg">
                                </div>
                                <div class="card-text">
                                    <div id="descripcion">
                                        NES Original 2 Jugadores con Mario Pack
                                    </div>
                                    <div id="precioAnterior">
                                        $999.99
                                    </div>
                                    <div id="precioActual">
                                        $799.99
                                    </div>
                                </div>
                            </div>
                        </div>
    		    	</div>
                    <div class="col-12 col-sm-6 col-md-2">
                        <div class="card border border-dark my-3 mx-auto" style="width:14rem; height: 16rem;">
                            <div class="container h-100">
                                <div class="card-body">
                                    <img src="images/N64_goldeneye.jpg">
                                </div>
                                <div class="card-text">
                                    <div id="descripcion">
                                        N64 GoldenEye Pack
                                    </div>
                                     <div id="precioAnterior">
                                        $1499.99
                                    </div>
                                    <div id="precioActual">
                                        $1299.99
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-2">
                        <div class="card border border-dark my-3 mx-auto" style="width:14rem; height: 16rem;">
                            <div class="container h-100">
                                <div class="card-body">
                                    <img src="images/Wii-system.jpg">
                                </div>
                                <div class="card-text">
                                    <div id="descripcion">
                                        Sistema Wii Pack
                                    </div>
                                    <div id="precioAnterior">
                                        $999.99
                                    </div>
                                    <div id="precioActual">
                                        $699.99
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-2">
                        <div class="card border border-dark my-3 mx-auto" style="width:14rem; height: 16rem;">
                            <div class="container h-100">
                                <div class="card-body">
                                    <img src="images/NES_ContraTysonZelda.jpg">
                                </div>
                                <div class="card-text">
                                    <div id="descripcion">
                                        NES Original Contra, Tyson, Zelda Pack
                                    </div>
                                    <div id="precioAnterior">
                                        $1899.99
                                    </div>
                                    <div id="precioActual">
                                        $1699.99
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    		    </div>
    	   </div>
        </div>
        <div class="container">
            <div class="row justify-content-center mt-5">
                <button type="button" class="btn btn-primary" id="masOfertas">Más Ofertas</button>
            </div>
        </div>
    </div>
    
    <div class="container-fluid py-5" id="containerOfertas">
        <div class="row d-flex justify-content-center" id="ofertasCompleto">
            <div class="col-9 col-sm-5 col-md-2 my-3 mx-0" id="busquedaOfertas">
                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Tu correo electrónico" aria-label="Search">
                    <button type="button" class="btn btn-primary" id="btnBuscarOfertas">
                        <img src="images/submit.jpg">
                    </button>
                </div>
            </div>
            <div class="col-12 col-sm-5 col-md-3 my-3 mx-0" id="textoOfertas">
                <div class="mb-3" id="tituloOfertas">
                    <h2 id="titulo">Obten Ofertas</h2>
                </div>
                <div id="descripcionOfertas">
                    Registrate para obtener ofertas <span id="textoExclusivas">EXCLUSIVAS</span> y cupones para 
                    todos tus videojuegos favoritos retro y consolas clásicas!
                </div>
            </div>
        </div>
    </div>